<launch>
    <node name="bioik_dataset pkg=shadow_regression type=bioik_dataset" output="screen">
        <param name="mapfile" value="$(find shadow_regression)/data/trainning">
        <param name="depth_img_path" value="$(find shadow_regression)/data/depth_shadow">
        <param name="rgb_img_path" value="$(find shadow_regression)/data/rgb_shadow">
    <node/>
<launch/>
